<h2>Algemene voorwaarden</h2>
<form class="form-horizontal" (ngSubmit)="saveInfo(contactForm.valid)" #contactForm="ngForm">

    <div class="form-group" [class.has-error]="conditions.errors && (conditions.dirty || conditions.touched || contactForm.submitted)" [class.has-feedback]="conditions.errors && (conditions.dirty || conditions.touched || contactForm.submitted)">
        <label for="conditions" class="col-xs-12 col-sm-3 control-label">Voorwaarden</label>
        <div class="col-xs-12 col-sm-6">
            <label class="checkbox-inline">
                <input type="checkbox" id="conditions" [(ngModel)]="conditionsAgreed" name="conditions" required #conditions="ngModel"> Ik ga akkoord met de <a target="_blank">algemene voorwaarden</a>
            </label>
            <label *ngIf="conditions.errors && (conditions.dirty || conditions.touched || contactForm.submitted)" class="control-label">U dient akkoord te gaan met de algemene voorwaarden.</label>
        </div>
    </div>

    <button (click)="previousTab()" class="btn btn-link pull-left" aria-controls="courseSelect" role="tab">Vorige</button>
    <button type="submit" class="btn btn-default pull-right" aria-controls="paymentInfo" role="tab">Volgende</button>
</form>