<h2>Inschrijven cursus</h2>
<form class="form-horizontal">
    <div class="form-group">
        <label for="courseSelector" class="col-xs-12 col-sm-3 control-label filter-label">Selecteer cursus</label>
        <div class="col-xs-12 col-sm-5">
            <select id="courseSelector" class="form-control" [(ngModel)]="selectedCourseTemplate" (ngModelChange)="selectedCourseTemplateChanged($event)" name="CourseSelector">
                    <option value="null" selected></option>
                    <option *ngFor="let ct of courseTemplates" [ngValue]="ct">{{ct.Name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="regionSelector" class="col-xs-12 col-sm-3 control-label filter-label">Selecteer regio</label>
        <div class="col-xs-12 col-sm-5">
            <select id="regionSelector" class="form-control" [(ngModel)]="selectedRegion" (ngModelChange)="selectedRegionChanged($event)" name="RegionSelector">
                    <option value="null" selected></option>
                    <option *ngFor="let r of regions" [ngValue]="r">{{r.Name}}</option>
            </select>
        </div>
    </div>
</form>
<hr class="divider" />

<div class="courseselection-container">
    <div class="courseselection courseselection-header">
        <span class="header-item">Startdatum</span>
        <span class="header-item">Cursus</span>
        <span class="header-item">Regio</span>
        <span class="header-item">Duur</span>
        <span class="header-item">Prijs</span>
    </div>
    <a class="course-selector" href="#">
        <div class="courseselection courseselection-item clearfix">
            <span class="course-item">31-31-20117</span>
            <span class="course-item">Dit is een lange cursusnaam</span>
            <span class="course-item">Zuid/Oost Brabant</span>
            <span class="course-item">99 maanden</span>
            <span class="course-item">€2000.00,-</span>
        </div>
    </a>
    <a class="course-selector" href="#">
        <div class="courseselection courseselection-item clearfix">
            <span class="course-item">31-31-20117</span>
            <span class="course-item">Dit is een lange cursusnaam</span>
            <span class="course-item">Zuid/Oost Brabant</span>
            <span class="course-item">99 maanden</span>
            <span class="course-item">€2000.00,-</span>
        </div>
    </a>
</div>
<span class="btn-spacer clearfix"></span>
<button class="btn btn-default pull-right " aria-controls="contactInfo" role="tab" [disabled]="!selectedCourseId" (click)="nextTab()">Volgende</button>