<h2>Inschrijven cursus</h2>
<form class="form-horizontal">
    <div class="form-group">
        <label for="courseSelector" class="col-xs-12 col-sm-3 control-label filter-label">Selecteer cursus</label>
        <div class="col-xs-12 col-sm-5">
            <select id="courseSelector" class="form-control" [(ngModel)]="selectedCourseTemplate" (ngModelChange)="selectedCourseTemplateChanged($event)" name="CourseSelector">
                    <option value="null" selected></option>
                    <option *ngFor="let ct of courseTemplates" [ngValue]="ct">{{ct.Name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="regionSelector" class="col-xs-12 col-sm-3 control-label filter-label">Selecteer regio</label>
        <div class="col-xs-12 col-sm-5">
            <select id="regionSelector" class="form-control" [(ngModel)]="selectedRegion" (ngModelChange)="selectedRegionChanged($event)" name="RegionSelector">
                    <option value="null" selected></option>
                    <option *ngFor="let r of regions" [ngValue]="r">{{r.Name}}</option>
            </select>
        </div>
    </div>
</form>
<hr class="divider" />

<div class="courseselection-container">
    <!-- show from 768px and up -->
    <div class="hide-sm-down">
        <div class="courseselection courseselection-header clearfix">
            <span class="header-item">Startdatum</span>
            <span class="header-item">Cursus</span>
            <span class="header-item">Regio</span>
            <span class="header-item">Duur</span>
            <span class="header-item">Prijs</span>
        </div>
        <!-- class isFull -->
        <a *ngFor="let course of courses" class="course-selector" [class.isFull]="course.IsFull" (click)="selectedCourseChanged(course)">
            <div class="courseselection courseselection-item clearfix active" [class.active]="course.Id === selectedCourse?.Id">
                <span class="course-item">{{course.Date | date: 'dd-MM-yyyy'}}</span>
                <span class="course-item">{{course.Name}}</span>
                <span class="course-item">{{course.Region}}</span>
                <span class="course-item">{{course.DurationInfo}}</span>
                <span class="course-item">{{course.Price | currencyFormat}}</span>
            </div>
        </a>
    </div>
    <div class="show-xs">

        <div *ngFor="let course of courses; let i = index" class="courseselection-container-mobile active">
            <div class="courseselection-header">
                <a class="course-selector-mobile" aria-expanded="false" aria-controls="course-collapse"
                   (click)="displayMobileInfo(i, course.IsFull)">
                    <!-- class isFull -->
                    <div class="course-item-mobile-header" [class.isFull]="course.IsFull">
                        <span>{{course.Name}}</span>
                    </div>
                </a>
            </div>
            <div id="course-collapse"
                 class="courseselection-content-mobile clearfix"
                [class.collapse]="showMobileInfo != i">
                <div class="course-content-mobile">
                    <span class="course-item-mobile">{{course.Date | date: 'dd-MM-yyyy'}}</span>
                    <span class="course-item-mobile">{{course.Region}}</span>
                    <span class="course-item-mobile">{{course.DurationInfo}}</span>
                    <span class="course-item-mobile">{{course.Price | currencyFormat}}</span>
                </div>
                <a (click)="nextTab(course)" class="btn btn-block">Inschrijven</a>
            </div>
        </div>

    </div>
</div>
<span class="btn-spacer clearfix"></span>
<button class="btn btn-default pull-right " aria-controls="contactInfo" role="tab" [disabled]="!selectedCourse" (click)="nextTab()">Volgende</button>