<h2>Inschrijven cursus</h2>
<form class="form-horizontal">
    <div class="form-group">
        <label for="courseSelector" class="col-xs-12 col-sm-5 col-md-3 control-label filter-label">Selecteer cursus</label>
        <div class="col-xs-12 col-sm-7 col-md-5">
            <select id="courseSelector" class="form-control" [(ngModel)]="selectedCourseTemplate" (ngModelChange)="selectedCourseTemplateChanged($event)" name="CourseSelector">
                    <option value="null" selected>Alle cursussen</option>
                    <option *ngFor="let ct of courseTemplates" [ngValue]="ct">{{ct.Name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="regionSelector" class="col-xs-12 col-sm-5 col-md-3 control-label filter-label">Selecteer regio</label>
        <div class="col-xs-12 col-sm-7 col-md-5">
            <select id="regionSelector" class="form-control" [(ngModel)]="selectedRegion" (ngModelChange)="selectedRegionChanged($event)" name="RegionSelector">
                    <option value="null" selected>Alle regio's</option>
                    <option *ngFor="let r of regions" [ngValue]="r">{{r.Name}}</option>
            </select>
        </div>
    </div>
</form>
<hr class="divider" />

<div class="courseselection-container">
    <!-- show from 768px and up -->
    <div class="hide-sm-down">
        <div class="courseselection courseselection-header clearfix">
            <span class="header-item">Startdatum</span>
            <span class="header-item">Cursus</span>
            <span class="header-item">Regio</span>
            <span class="header-item">Duur</span>
            <span class="header-item">Prijs</span>
            <span class="header-item">Vrije plaatsen</span>
        </div>
        <!-- class isFull -->
        <a *ngFor="let course of courses" class="course-selector isFull" [class.isFull]="course.IsFull" (click)="selectedCourseChanged(course)">
            <div class="courseselection courseselection-item clearfix active" [class.active]="course.Id === selectedCourse?.Id">
                <span class="course-item">{{course.Date | date: 'dd-MM-yyyy'}}</span>
                <span class="course-item">{{course.Name}}</span>
                <span class="course-item">{{course.Region}}</span>
                <span class="course-item">{{course.DurationInfo}}</span>
                <span class="course-item">{{course.Price | currencyFormat}}</span>
                <span *ngIf="!course.IsFull;else CourseFull" class="course-item">{{ course.AvailableSeats | pluralizeText: 'plaats':'plaatsen' }} vrij</span>
                <ng-template #CourseFull>
                    <span class="course-item course-full">Vol</span>
                </ng-template>
            </div>
        </a>
        <div *ngIf="loadingCourses" class="course-msg">
            <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
            <span>Cursussen worden geladen...</span>
        </div>
        <div *ngIf="!loadingCourses && courses?.length === 0" class="course-msg">
            <!-- No courses found -->
            Er zijn geen cursussen gevonden met deze filters, pas de filters aan en probeer het opnieuw.
        </div>
    </div>
    <div class="show-xs">
        <!-- clickDisabled class on: courseselection-container-mobile -->
        <div *ngFor="let course of courses; let i = index" class="courseselection-container-mobile">
            <a class="course-selector-mobile" aria-expanded="false" aria-controls="course-collapse" (click)="displayMobileInfo(i, course.IsFull)">
                <div class="courseselection-header">
                    <!-- class isFull -->
                    <div class="course-item-mobile-header isFull" [class.isFull]="course.IsFull">
                        <div class="di-block">
                            <span class="mobile-date">{{course.Date | date: 'dd-MM-yyyy'}}</span>
                            <span>{{course.Name}}</span>
                        </div>
                        <span class="mobile-region">{{course.Region}}</span>
                    </div>
                </div>
            </a>
            <div id="course-collapse" class="courseselection-content-mobile clearfix" [class.collapse]="showMobileInfo != i">
                <div class="course-content-mobile">
                    <ul>
                        <li class="sidebar-item-title">Cursusduur</li>
                        <li>{{course.DurationInfo}}</li>
                        <br/>

                        <li class="sidebar-item-title">Lesdagen</li>
                        <li>x <span class="di-block">x</span></li>
                        <br/>

                        <li class="sidebar-item-title">Prijs van de cursus</li>
                        <li>{{course.Price | currencyFormat}} <span>excl. BTW</span></li>
                        <br/>
                        <li class="sidebar-item-title">Aantal deelnemers</li>
                        <li>x</li>
                        <br/>
                        <li class="sidebar-item-title">Aantal deelnemers</li>
                        <li>
                            {{ course.AvailableSeats | pluralizeText: 'plaats':'plaatsen' }} vrij
                        </li>
                    </ul>
                    <!-- <span class="course-item-mobile">{{course.Date | date: 'dd-MM-yyyy'}}</span>
                    <span class="course-item-mobile">{{course.Region}}</span>
                    <span class="course-item-mobile">{{course.DurationInfo}}</span>
                    <span class="course-item-mobile">{{course.Price | currencyFormat}}</span>
                    <span class="course-item-mobile">{{ course.AvailableSeats | pluralizeText: 'plaats':'plaatsen' }} vrij</span> -->
                </div>
                <a (click)="nextTab(course)" class="btn btn-block">Inschrijven</a>
            </div>
        </div>

        <div *ngIf="loadingCourses" class="course-msg">
            <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
            <span>Cursussen worden geladen...</span>
        </div>
        <div *ngIf="!loadingCourses && courses?.length === 0" class="course-msg">
            <!-- No courses found -->
            Er zijn geen cursussen gevonden met deze filters, pas de filters aan en probeer het opnieuw.
        </div>
    </div>
</div>
<span class="btn-spacer clearfix"></span>
<div class="hide-sm-down">
    <button class="btn btn-default pull-right " aria-controls="contactInfo" role="tab" [disabled]="!selectedCourse" (click)="nextTab(null)">Inschrijven</button>
</div>