<div class="row">
  <div class="col-xs-12 nopad-vert">
    <h1>Fout bij inschrijven</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-7">
    <div class="panel-group">
      <h4>Uw inschrijving is niet voltooid.</h4>
      <p>Er is helaas iets fout gegaan tijdens het verwerken van uw inschrijving.<br /> Neem contact op met <a href="mailto:{{contactEmail}}"> {{contactEmail}} </a></p>
      <p>Of klik <a href="{{returnUrl}}">hier</a> om terug te keren.</p>
    </div>
  </div>
</div>
