//phone
$screen-xs: 480px
//tablet
$screen-sm: 768px
//desktop
$screen-md: 992px
//large desktop
$screen-lg: 1200px

$primaryColor: #C4002E
$secondaryColor: #D75473
$tertiaryColor: #FFE4E4
$textColorMenu: #fff
$textColorBody: #000

@media screen and (min-width: 0px)
  body
    .form-group label
      margin-bottom: 10px

  #main-content
    margin-bottom: 25px

  .form-horizontal .form-group
    margin-bottom: 25px

#signupConfirmed .form-group
  margin-left: -15px

#signupConfirmed > div
  margin-bottom: 25px

.margin-bottom-15
  margin-bottom: 15px

.participants-list
  .margin-bottom-15
    margin-bottom: 15px

@media (min-width: $screen-sm)
  .form-horizontal .form-group
    margin-bottom: 15px

  .margin-bottom-15
    margin-bottom: 0

  .participants-list
    .margin-bottom-15
      margin-bottom: 0px


@media (min-width: $screen-md)
  body
    //background: purple !important


@media (max-width: $screen-xs)
  .course-selector .courseselection-item > .course-item
    float: left
    display: block

@media (min-width: $screen-sm)
  .hide-sm-down
    display: block

  .show-xs
    display: none 

@media (min-width: 0) and (max-width: $screen-sm)
  .hide-xs-down
    display: none

  .hide-sm-down
    display: none

  .course-item-mobile
    display: block 
    margin-bottom: 10px

  .courseselection-container-mobile
    border: 1px solid #eee
    padding 5px
    margin-bottom: 10px
    border-radius: 5px
    &:hover
      border-color: #ddd

  .courseselection-container-mobile.active
    border-color: #3943B7
    &:hover
      border-color: #294aa8
    .course-content-mobile
      border-top-color: #3943B7;
    .courseselection-content-mobile > .btn
      border-top-color: #3943B7;

  .courseselection-container-mobile.active > .courseselection-content-mobile > .btn
    color: #000;

  .courseselection-container-mobile .courseselection-header
    padding: 15px

  .course-content-mobile
    padding: 15px
    border-top: 1px solid #eee;
  
  a:hover
    text-decoration: none

  .course-item-mobile-header
    color: #000
    display: block
    position: relative
    &:hover
      text-decoration: none

  .course-item-mobile-header:hover
    text-decoration: none

  .courseselection-content-mobile > .btn
    border-top: 1px solid #eee
    border-radius: 0

  .course-item-mobile-header.isFull:after 
    content: "Vol"
    position: absolute
    color: $primaryColor
    right: 15px

@media (min-width: $screen-sm) and (max-width: $screen-md)
  body .course-selector.isFull:after
    right: 5px;