.logo {
    float:right; 
    width:250px; 
    height:auto;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 14px;
}

.courseselection.courseselection-header {
    background: #159987;
    border: none;
    color: #fff;
    font-weight: normal;
    border-radius: 3px;
    height: 30px; 
}

.navbar-default .navbar-nav > li > a.active{ 
    background: #159987;
    color: #e1fffa;
    font-weight: bold;
    text-shadow: grey 1px;
}

.navbar-default .navbar-nav > li > a.active:hover{ 
    background: #159987;
    color: #e1fffa;
    font-weight: bold;
    text-shadow: grey 1px;
}
.navbar-default {
    background: #159987;
}

.course-item {
    font-weight: 600;
    font-size: 16px;
    color: #159987;
}

.courseselection.courseselection-item {
    border-color: #8ec8af;
}
.courseselection.courseselection-item:hover {
    border: 2px solid #77c7a4 ;
}

.sidebar-container {
    border: solid 1px #8ec8af;
}

.sidebar-container h4{
    color: #159987;
}

h2 , h1{
    color: #159987;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li > a.active:focus, .navbar-default .navbar-nav > li > a.active:hover {
    color: #fff;
    background: #159987;
    font-weight: bold; }

    .bol{
        position: absolute;
        z-index: 150;
        right: 2.9em;
        top: 1vw;
        width: 150px;
        width: 15vw;
        height: 150px;
        height: 15vw;
        max-width: 175px;
        max-height: 175px;
    }

    .bol-circle{
        border-radius: 50%;
        background: #ffc827;
        position: absolute;
        z-index: 150;
        right: 2.9em;
        top: 1vw;
        width: 150px;
        width: 15vw;
        height: 150px;
        height: 15vw;
        max-width: 175px;
        max-height: 175px;
    }
    
    .bol-container{
        height: 250px;
        right: 0;
        margin: 0 auto;
        position: absolute;
    }

    .titleBox{
        background:#942a82;
        padding-top:35px;
        padding-bottom:35px;
        padding-left:5vw;
    }

    .titleBox, .titleBox h1{
        color:rgba(255,255,255,0.85);
    }

    .timeRight {
        float: right;
    }

    .sidebar-container{
        background: white;
    }

    .courseselection-item.active{
        background: #8ec8af45;
    }
    .courseselection.courseselection-header:hover {
        border:none;
    }
    

    .btn.btn-default{
        background: #159987;
    }

    .btn[disabled] {
        opacity: 1;
        background: #fff;
        color: #ccc;
        border: 1px solid #ccc;
    }

    .btn-default:active:hover{
        background: #15992e;
        border:none;
    }