@import _variables.sass
@import _core.sass
@import _responsive.sass

/* Font styles */
h2
  font-size: 20px
  margin-bottom: 20px
  font-weight: bold

/* Button styles */

.btn.btn-default
  background: $buttonColor
  padding: 13px 15px
  color: #fff
  border-color: $buttonColor
  border-radius: 5px

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover
  background: $buttonColor
  color: #fff
  border: 1px solid $buttonColor

.btn[disabled]
  opacity: 1
  background: #fff
  color: #ccc
  border: 1px solid #ccc
  &:hover
    opacity: 1
    background: #fff
    color: #ccc
    border: 1px solid #ccc


/* Topbar */
.top-bar 
  background-color: #00709a
  color: #fff
  padding: 5px 0
  text-align: left

.top-bar .top-bar-text 
  margin: 0
  padding: 5px
  color: #fff
  a
    color: #fff

.top-bar .top-bar-text .gt-icon-phone 
  position: relative
  top: -1px
  left: 0

.top-bar .top-bar-text .gt-icon-envelope 
  position: relative
  top: -2px
  left: 0

/* Logo */
.logo-container .logo
  max-height: 70px
  width: auto
  padding: 10px 10px 10px 0

/* Navbar */
/* Navbar / Tabs overrides */
.navbar-default
  background-color: $tertiaryColor
  border: none

.nav-tabs
  li
    margin-bottom: 0

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li > a.active:focus, .navbar-default .navbar-nav > li > a.active:hover
  color: $textColorMenu
  background: $tertiaryColor
  font-weight: bold

.navbar-default .navbar-nav>li>a.disabled, .navbar-default .navbar-nav> li>a.disabled:focus, .navbar-default .navbar-nav>li>a.disabled:hover
  color: $secondaryColor

.navbar-default .navbar-nav > li > a
  color: $textColorMenu

.navbar-default .navbar-nav >li:first-child > a
  padding-left: 0

.navbar-default .navbar-nav > li > a:hover
  color: $textColorMenu

.navbar-nav>li:after 
  content: ''
  position: absolute
  top: 5px
  right: 0
  width: 1px
  background: #fff
  height: 70%

.navbar
  min-height: auto

.navbar-nav>li:last-child:after 
  content: none

.nav>li>a
  padding: 5px 25px

.nav>li>a:first-child 
  /*margin-left: -25px*/

/* Course headers */

.header-item, .course-item
  @include rowMachine(5,1%)
  padding: 5px
  float: left

.header-item 
  padding: 0px 5px
  line-height: 14px


.courseselection.courseselection-header
  background: $tertiaryColor
  border: none
  color: $textColorMenu
  font-weight: normal
  border-radius: 3px
  &:hover
    border: none
    border-color: transparent

/* Course selection */

a.course-selector
  text-decoration: none

.course-item
  font-weight: 600
  font-size: 16px
  color: $primaryColor

.courseselection.courseselection-item
  padding-top: 10px
  padding-bottom: 10px
  border: 2px solid
  border-color: $fourthColor
  &:hover
    border-color: $primaryColor


.courseselection-item.active 
    background: #fff;
    border-color: $primaryColor

.course-days-content
  padding: 5px
  h3
    color: $secondaryColor
    font-size: 18px
    font-weight: 600
    margin-bottom: 12px

.course-days-list-item
  font-size: 15px
  font-weight: 500

.list-days
  font-weight: 600

.list-date
  margin-left: 10px

.list-time
  margin-left: 10px
  color: #9B9B9B;


/* Sidebar container */
#basket
  margin-bottom: 140px

.sidebar-container
  background: #fff
  border: 2px solid
  border-color: $primaryColor
  border-radius: 10px
  position:relative
  h4
    color: $primaryColor
    font-size: 24px
    font-weight: bold
    margin-bottom: 23px

.sidebar-item-title
  font-size: 16px

.testimonial
  position: relative
  h3
    padding: 60px 30px 40px 30px
    text-align: center
    margin: 0

#circle
  position: absolute
  top: -54px
  left: 50%
  margin-left: -54px
  border-radius: 50%
  width: 108px
  height: 108px
  background: $primaryColor
  i
    color: #fff
    font-size: 50px
    line-height: 100px
    margin-left: 32px

/* contact page */
.page-title
  font-size: 18px
  color: $primaryColor
  margin-bottom: 10px

.subtitle
  color: $subtitleColor
  font-size: 14px
  margin-bottom: 30px


.divider-colored
  border-color: $primaryColor