@media screen and (min-width: 0px) {
  body .form-group label {
    margin-bottom: 10px; }
  #main-content {
    margin-bottom: 25px; }
  .form-horizontal .form-group {
    margin-bottom: 25px; } }

#signupConfirmed .form-group {
  margin-left: -15px; }

#signupConfirmed > div {
  margin-bottom: 25px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.participants-list .margin-bottom-15 {
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .form-horizontal .form-group {
    margin-bottom: 15px; }
  .margin-bottom-15 {
    margin-bottom: 0; }
  .participants-list .margin-bottom-15 {
    margin-bottom: 0px; } }

@media (min-width: 480px) {
  .hide-basket-xs {
    display: block; } }

@media (max-width: 480px) {
  .course-selector .courseselection-item > .course-item {
    float: left;
    display: block; }
  .hide-basket-xs {
    display: none; } }

@media (min-width: 768px) {
  .hide-sm-down {
    display: block; }
  .show-xs {
    display: none; } }

@media (min-width: 0) and (max-width: 768px) {
  .hide-xs-down {
    display: none; }
  .hide-sm-down {
    display: none; }
  .course-item-mobile {
    display: block;
    margin-bottom: 10px; }
  .courseselection-container-mobile {
    border: 1px solid #979797;
    margin-bottom: 10px;
    border-radius: 5px; }
    .courseselection-container-mobile:hover {
      border-color: #565656; }
  .clickDisabled {
    cursor: not-allowed;
    pointer-events: none; }
  .courseselection-container-mobile.active {
    background: #00354B; }
    .courseselection-container-mobile.active:hover {
      border-color: #979797; }
    .courseselection-container-mobile.active .course-content-mobile {
      border-top-color: #979797; }
    .courseselection-container-mobile.active .courseselection-content-mobile > .btn {
      border-top-color: #00709a;
      background: #00709a;
      border-radius: 0 0 3px 3px; }
  .courseselection-container-mobile.active > .courseselection-content-mobile > .btn {
    color: #fff; }
  .courseselection-container-mobile .courseselection-header {
    padding: 15px; }
  .course-content-mobile {
    padding: 15px;
    border-top: 1px solid #eee;
    background: #fff; }
  a:hover {
    text-decoration: none; }
  .course-item-mobile-header {
    color: #000;
    display: block;
    position: relative; }
    .course-item-mobile-header:hover {
      text-decoration: none; }
  .course-item-mobile-header:hover {
    text-decoration: none; }
  .courseselection-content-mobile > .btn {
    border-top: 1px solid #eee;
    border-radius: 0; }
  .course-item-mobile-header.isFull {
    border-color: #ccc;
    color: #ccc; }
    .course-item-mobile-header.isFull:hover {
      border-color: #ccc;
      color: #ccc; }
  .course-item-mobile-header.isFull:after {
    color: #ccc; }
  .nav > li > a {
    padding: 15px 10px; } }

@media (min-width: 992px) {
  .sidebar-container > ul > li > span.di-block {
    display: inline; } }

@media (max-width: 992px) {
  .navbar-header.show-title-mobile {
    display: block !important;
    width: 100%;
    text-align: center;
    padding-top: 10px; }
    .navbar-header.show-title-mobile h3 {
      color: #00354B; }
  .sidebar-container > ul > li > span.di-block {
    display: block; }
  .mobile-date {
    font-size: 12px; }
  .di-block {
    margin-bottom: 5px; }
  .di-block > span {
    padding-right: 10px; }
  .mobile-region {
    margin-left: 77px; }
  .courseselection-container-mobile .courseselection-header {
    position: relative; }
  .courseselection-container-mobile .courseselection-header .course-item-mobile-header:after {
    content: '\f0d7';
    position: absolute;
    top: 0px;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 18px;
    color: #000; }
  .courseselection-container-mobile.active .courseselection-header .course-item-mobile-header:after {
    content: '\f0da'; }
  .course-item-mobile-header.isFull {
    border-color: #ccc;
    color: #ccc; }
    .course-item-mobile-header.isFull:hover {
      border-color: #ccc !important;
      color: #ccc; }
    .course-item-mobile-header.isFull:after {
      color: #D75473 !important;
      content: 'Vol' !important;
      font-family: 'Lato', Segoe UI, Helvetica, sans-serif !important;
      font-size: 14px !important; }
  .course-item-mobile-header.isFull:after {
    color: #ccc; } }

@media (min-width: 768px) and (max-width: 992px) {
  body .course-selector.isFull:after {
    right: 5px; } }

/* Custom font */
body {
  font-family: 'Lato', Segoe UI, Helvetica, sans-serif;
  font-size: 14px; }

/* Overrides/reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

*:focus {
  outline: none !important; }

.no-margin-bottom {
  margin: 0; }

/* Headings & text */
h2 {
  font-size: 36px;
  margin-bottom: 50px; }

h4 {
  font-size: 24px;
  margin-bottom: 24px; }

.subtitle {
  margin-top: 5px;
  color: #4A4A4A; }

.filter-label {
  font-size: 16px; }

.optional-label > span, .optional {
  color: #ccc; }

.payment-option {
  font-weight: 600; }

.participant-title {
  font-size: 18px; }

.participant-control a:hover {
  text-decoration: none; }

.participant-control .delete-participant {
  color: #C4002E; }

/* Disabled & other utility classes */
tr.disabled {
  color: #ccc; }

/* Bootstrap overrides */
/* Navbar / Tabs overrides */
.navbar-default {
  background-color: #335D6F;
  border: none; }

.navbar {
  border-radius: 0; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none; }

.nav-tabs {
  border: none; }

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li > a.active:focus, .navbar-default .navbar-nav > li > a.active:hover {
  color: #fff;
  background: #00709a;
  border: none;
  border-radius: 0;
  cursor: pointer;
  outline: 0; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: 0px; }

.navbar-default .navbar-nav > li > a.disabled, .navbar-default .navbar-nav > li > a.disabled:focus, .navbar-default .navbar-nav > li > a.disabled:hover {
  color: #ccc;
  background-color: transparent;
  cursor: not-allowed;
  pointer-events: none; }

.navbar-default .navbar-nav > li > a {
  color: #00354B;
  border: none;
  border-radius: 0; }

.navbar-default .navbar-nav > li > a:hover {
  color: #fff; }

/* Form */
.form-horizontal .control-label {
  text-align: left;
  margin-top: 5px; }

/* Form input */
input[type=checkbox], input[type=radio] {
  margin: 1px 0 0; }

.form-group.row {
  margin-bottom: 0; }

/* Table */
.table > thead > tr > th {
  border-bottom: 1px; }

/* Sidebar */
.sidebar-container {
  background: #00354B;
  padding: 20px 25px 20px 25px;
  border-radius: 3px;
  border: 1px solid #ddd; }

.sidebar-item-title {
  font-weight: 700; }

.sidebar-container > ul > li > span {
  color: #9B9B9B; }

/* Positioning & sizing */
.navbar {
  margin: 0 0 30px 0; }

.center {
  text-align: center; }

p {
  margin-bottom: 5px; }

ul li {
  margin-bottom: 5px; }

.divider {
  margin: 25px 0 25px 0; }

.optional-label {
  margin-top: -4px; }

.payment-img {
  max-width: 105px;
  max-height: 35px; }

#payment-table tbody tr td {
  vertical-align: middle; }

/* Gives the next sibling of .participant-block a top border, to better separate the different blocks */
.participant-block + .participant-block {
  border-top: 1px solid #eee;
  padding: 25px 0 25px 0; }

#signupConfirmed p {
  margin-bottom: 5px; }

.signupConfirmedTitle {
  font-weight: 600;
  margin-top: 15px; }

.signupConfirmedDayList li span {
  color: #9B9B9B; }

.participants-list li:first-child {
  font-weight: 700; }

.course-selection {
  padding-bottom: 50px; }

.btn-spacer {
  padding: 25px 0 25px 0;
  display: block; }

.navbar-toggle {
  border: none;
  float: left;
  margin: 0;
  height: 50px;
  width: 50px;
  border-radius: 0;
  z-index: 1;
  -webkit-transition: 0.3s linear;
  /* Safari */
  transition: rotate 0.3s;
  transition: rotate 0.3s linear; }

.navbar-default .navbar-toggle {
  border: none;
  border-color: transparent;
  background: #335D6F; }
  .navbar-default .navbar-toggle:focus {
    background-color: #00709a; }
  .navbar-default .navbar-toggle:hover {
    background-color: #00709a; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-toggle .icon-bar {
  width: 28px;
  -webkit-transition: rotate 0.3s linear;
  /* Safari */
  transition: rotate 0.3s;
  transition: rotate 0.3s linear; }

.navbar-toggle.collapsed .icon-bar:nth-child(2) {
  -webkit-transform: rotate(0) translateY(0) translateX(0);
  -ms-transform: rotate(0) translateY(0) translateX(0);
  transform: rotate(0) translateY(0) translateX(0); }

.navbar-toggle.collapsed .icon-bar:nth-child(3) {
  opacity: 1; }

.navbar-toggle.collapsed .icon-bar:nth-child(4) {
  -webkit-transform: rotate(0) translateY(0) translateX(0);
  -ms-transform: rotate(0) translateY(0) translateX(0);
  transform: rotate(0) translateY(0) translateX(0); }

.navbar-toggle .icon-bar:nth-child(2) {
  -webkit-transform: rotate(-45deg) translateY(5px) translateX(-5px);
  -ms-transform: rotate(-45deg) translateY(5px) translateX(-5px);
  transform: rotate(-45deg) translateY(5px) translateX(-5px); }

.navbar-toggle .icon-bar:nth-child(3) {
  opacity: 0; }

.navbar-toggle .icon-bar:nth-child(4) {
  -webkit-transform: rotate(45deg) translateY(-4px) translateX(-3px);
  -ms-transform: rotate(45deg) translateY(-4px) translateX(-3px);
  transform: rotate(45deg) translateY(-4px) translateX(-3px); }

.dob-width {
  width: 31.55%;
  margin-right: 5px;
  display: inline; }
  .dob-width:last-child {
    margin-right: 0; }

.header-item, .course-item {
  width: 15.83333%;
  padding: 5px;
  float: left;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
  .header-item:nth-child(n), .course-item:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%; }
  .header-item:nth-child(6n), .course-item:nth-child(6n) {
    margin-right: 0;
    margin-bottom: 0; }

.course-selector {
  margin-bottom: 15px; }

a.course-selector {
  color: #000; }

.course-msg {
  padding: 15px 10px;
  border: 1px solid #eee;
  margin-bottom: 5px;
  border-radius: 5px; }

.courseselection {
  padding: 5px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer; }
  .courseselection:hover {
    border-color: #565656; }

.courseselection-header:hover {
  border-color: #eee; }

.courseselection-item.active {
  background: #00354B;
  border: 1px solid #979797; }
  .courseselection-item.active:hover {
    border-color: #565656; }

.course-selector {
  display: block;
  position: relative; }

.course-selector.isFull {
  cursor: not-allowed;
  pointer-events: none; }
  .course-selector.isFull .courseselection.courseselection-item {
    border-color: #ccc;
    color: #ccc; }

.isFull .course-full {
  color: #D75473; }

.text-right > .btn {
  padding: 0; }

#error-title {
  margin-bottom: 5px; }

#error-page h4 {
  margin-bottom: 25px; }

#error-page p {
  margin-bottom: 10px;
  line-height: 20px; }

.hide-basket-error {
  display: none; }

.form-group label.checkbox-inline, .form-group label.radio-inline {
  margin-top: 6px; }

.no-seats-margin {
  margin-top: 11px; }

.courseselection {
  border-color: #979797; }

.courseselection.courseselection-header {
  cursor: default;
  background: #EBEBEB;
  font-weight: 900; }
  .courseselection.courseselection-header:hover {
    border: 1px solid #979797; }

.disabled {
  cursor: not-allowed !important; }

.btn.btn-default {
  background: #00709a;
  padding: 13px 15px;
  color: #fff;
  border-radius: 5px; }

.btn-default:active:hover {
  background: #00709a;
  color: #fff;
  border: 1px solid #00709a; }

.btn[disabled] {
  opacity: 1;
  background: #fff;
  color: #ccc;
  border: 1px solid #ccc; }
  .btn[disabled]:hover {
    opacity: 1;
    background: #fff;
    color: #ccc;
    border: 1px solid #ccc; }

.il-block {
  display: inline-block;
  width: 100%; }
  .il-block .error-msg {
    color: #a94442;
    font-weight: bold;
    margin-bottom: 10px; }

.navbar-nav {
  margin: 0px -15px; }

.block {
  display: block; }

@media screen and (min-width: 0px) {
  body .form-group label {
    margin-bottom: 10px; }
  #main-content {
    margin-bottom: 25px; }
  .form-horizontal .form-group {
    margin-bottom: 25px; } }

#signupConfirmed .form-group {
  margin-left: -15px; }

#signupConfirmed > div {
  margin-bottom: 25px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.participants-list .margin-bottom-15 {
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .form-horizontal .form-group {
    margin-bottom: 15px; }
  .margin-bottom-15 {
    margin-bottom: 0; }
  .participants-list .margin-bottom-15 {
    margin-bottom: 0px; } }

@media (min-width: 480px) {
  .hide-basket-xs {
    display: block; } }

@media (max-width: 480px) {
  .course-selector .courseselection-item > .course-item {
    float: left;
    display: block; }
  .hide-basket-xs {
    display: none; } }

@media (min-width: 768px) {
  .hide-sm-down {
    display: block; }
  .show-xs {
    display: none; } }

@media (min-width: 0) and (max-width: 768px) {
  .hide-xs-down {
    display: none; }
  .hide-sm-down {
    display: none; }
  .course-item-mobile {
    display: block;
    margin-bottom: 10px; }
  .courseselection-container-mobile {
    border: 1px solid #979797;
    margin-bottom: 10px;
    border-radius: 5px; }
    .courseselection-container-mobile:hover {
      border-color: #565656; }
  .clickDisabled {
    cursor: not-allowed;
    pointer-events: none; }
  .courseselection-container-mobile.active {
    background: #00354B; }
    .courseselection-container-mobile.active:hover {
      border-color: #979797; }
    .courseselection-container-mobile.active .course-content-mobile {
      border-top-color: #979797; }
    .courseselection-container-mobile.active .courseselection-content-mobile > .btn {
      border-top-color: #00709a;
      background: #00709a;
      border-radius: 0 0 3px 3px; }
  .courseselection-container-mobile.active > .courseselection-content-mobile > .btn {
    color: #fff; }
  .courseselection-container-mobile .courseselection-header {
    padding: 15px; }
  .course-content-mobile {
    padding: 15px;
    border-top: 1px solid #eee;
    background: #fff; }
  a:hover {
    text-decoration: none; }
  .course-item-mobile-header {
    color: #000;
    display: block;
    position: relative; }
    .course-item-mobile-header:hover {
      text-decoration: none; }
  .course-item-mobile-header:hover {
    text-decoration: none; }
  .courseselection-content-mobile > .btn {
    border-top: 1px solid #eee;
    border-radius: 0; }
  .course-item-mobile-header.isFull {
    border-color: #ccc;
    color: #ccc; }
    .course-item-mobile-header.isFull:hover {
      border-color: #ccc;
      color: #ccc; }
  .course-item-mobile-header.isFull:after {
    color: #ccc; }
  .nav > li > a {
    padding: 15px 10px; } }

@media (min-width: 992px) {
  .sidebar-container > ul > li > span.di-block {
    display: inline; } }

@media (max-width: 992px) {
  .navbar-header.show-title-mobile {
    display: block !important;
    width: 100%;
    text-align: center;
    padding-top: 10px; }
    .navbar-header.show-title-mobile h3 {
      color: #00354B; }
  .sidebar-container > ul > li > span.di-block {
    display: block; }
  .mobile-date {
    font-size: 12px; }
  .di-block {
    margin-bottom: 5px; }
  .di-block > span {
    padding-right: 10px; }
  .mobile-region {
    margin-left: 77px; }
  .courseselection-container-mobile .courseselection-header {
    position: relative; }
  .courseselection-container-mobile .courseselection-header .course-item-mobile-header:after {
    content: '\f0d7';
    position: absolute;
    top: 0px;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 18px;
    color: #000; }
  .courseselection-container-mobile.active .courseselection-header .course-item-mobile-header:after {
    content: '\f0da'; }
  .course-item-mobile-header.isFull {
    border-color: #ccc;
    color: #ccc; }
    .course-item-mobile-header.isFull:hover {
      border-color: #ccc !important;
      color: #ccc; }
    .course-item-mobile-header.isFull:after {
      color: #D75473 !important;
      content: 'Vol' !important;
      font-family: 'Lato', Segoe UI, Helvetica, sans-serif !important;
      font-size: 14px !important; }
  .course-item-mobile-header.isFull:after {
    color: #ccc; } }

@media (min-width: 768px) and (max-width: 992px) {
  body .course-selector.isFull:after {
    right: 5px; } }

/* Font styles */
h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold; }

.filter-label {
  font-weight: normal; }

/* Button styles */
.btn.btn-default {
  background: #1FCC70;
  padding: 13px 15px;
  color: #fff;
  border-color: #1FCC70;
  border-radius: 5px; }

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  background: #1FCC70;
  color: #fff;
  border: 1px solid #1FCC70; }

.btn[disabled] {
  opacity: 1;
  background: #fff;
  color: #ccc;
  border: 1px solid #ccc; }
  .btn[disabled]:hover {
    opacity: 1;
    background: #fff;
    color: #ccc;
    border: 1px solid #ccc; }

/* Topbar */
.top-bar {
  background-color: #00709a;
  color: #fff;
  padding: 5px 0;
  text-align: left; }

.top-bar .top-bar-text {
  margin: 0;
  padding: 5px;
  color: #fff; }
  .top-bar .top-bar-text a {
    color: #fff; }

.top-bar .top-bar-text .gt-icon-phone {
  position: relative;
  top: -1px;
  left: 0; }

.top-bar .top-bar-text .gt-icon-envelope {
  position: relative;
  top: -2px;
  left: 0; }

/* Logo */
.logo-container .logo {
  max-height: 70px;
  width: auto;
  padding: 10px 10px 10px 0; }

/* Navbar */
/* Navbar / Tabs overrides */
.navbar-default {
  background-color: #00354B;
  border: none; }

.nav-tabs li {
  margin-bottom: 0; }

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li > a.active:focus, .navbar-default .navbar-nav > li > a.active:hover {
  color: #fff;
  background: #00354B;
  font-weight: bold; }

.navbar-default .navbar-nav > li > a.disabled, .navbar-default .navbar-nav > li > a.disabled:focus, .navbar-default .navbar-nav > li > a.disabled:hover {
  color: #335D6F; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

.navbar-default .navbar-nav > li:first-child > a {
  padding-left: 0; }

@media screen and (max-width: 992px) {
  .navbar-default .navbar-nav > li:first-child > a {
    padding-left: 15px; } }

.navbar-default .navbar-nav > li > a:hover {
  color: #fff; }

.navbar-nav > li:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  width: 1px;
  background: #fff;
  height: 70%; }

.navbar {
  min-height: auto; }

.navbar-nav > li:last-child:after {
  content: none; }

.nav > li > a {
  padding: 5px 25px; }

.nav > li > a:first-child {
  /*margin-left: -25px*/ }

/* Course headers */
.header-item, .course-item {
  width: 19.2%;
  padding: 5px;
  float: left; }
  .header-item:nth-child(n), .course-item:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%; }
  .header-item:nth-child(5n), .course-item:nth-child(5n) {
    margin-right: 0;
    margin-bottom: 0; }

.header-item {
  padding: 0px 5px;
  line-height: 14px; }

.courseselection.courseselection-header {
  background: #00354B;
  border: none;
  color: #fff;
  font-weight: normal;
  border-radius: 3px; }
  .courseselection.courseselection-header:hover {
    border: none;
    border-color: transparent; }

/* Course selection */
a.course-selector {
  text-decoration: none; }

.course-item {
  font-weight: 600;
  font-size: 16px;
  color: #00709a; }

.courseselection.courseselection-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid;
  border-color: #8EB6C8; }
  .courseselection.courseselection-item:hover {
    border-color: #00709a; }

.courseselection-item.active {
  background: #fff;
  border-color: #00709a; }

.course-days-content {
  padding: 5px; }
  .course-days-content h3 {
    color: #335D6F;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px; }

.course-days-list-item {
  font-size: 15px;
  font-weight: 500; }

.list-days {
  font-weight: 600; }

.list-date {
  margin-left: 10px; }

.list-time {
  margin-left: 10px;
  color: #9B9B9B; }

/* Sidebar container */
#basket {
  margin-bottom: 140px; }

.sidebar-container {
  background: #fff;
  border: 2px solid;
  border-color: #00709a;
  border-radius: 10px; }
  .sidebar-container h4 {
    color: #00709a;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 23px; }

.sidebar-item-title {
  font-size: 16px; }

.testimonial {
  position: relative; }
  .testimonial h3 {
    padding: 60px 30px 40px 30px;
    text-align: center;
    margin: 0; }

#circle {
  position: absolute;
  top: -54px;
  left: 50%;
  margin-left: -54px;
  border-radius: 50%;
  width: 108px;
  height: 108px;
  background: #00709a; }
  #circle i {
    color: #fff;
    font-size: 50px;
    line-height: 100px;
    margin-left: 32px; }

/* contact page */
.page-title {
  font-size: 18px;
  color: #00709a;
  margin-bottom: 10px; }

.subtitle {
  color: #666670;
  font-size: 14px;
  margin-bottom: 30px; }

.divider-colored {
  border-color: #00709a; }

/* Mobile styles */
/* Navbar */
/* course items */
.mobile-item-title {
  font-weight: bold;
  font-size: 16px;
  color: #00709a; }

.course-content-mobile {
  border-top-color: transparent; }

.courseselection-content-mobile > .btn {
  background: #1FCC70;
  border-color: #1FCC70;
  color: #fff; }

.course-item-mobile-header span {
  font-size: 14px;
  font-weight: 600; }

.courseselection-container-mobile .courseselection-header .course-item-mobile-header:after {
  content: none; }

/*# sourceMappingURL=style.css.map */