<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-7 col-md-4">
                <p class="top-bar-text">
                    <span class="icon gt-icon-phone"></span> Bel ons: <span class="jsPhoneOnMobile">088-0455232</span>
                </p>
            </div>
            <div class="col-xs-7 col-md-4">
                <p class="top-bar-text">
                    <span class="icon gt-icon-envelope"></span> Mail ons:
                    <a href="mailto:info@globaltraining.nl" class="jsEmailProtection" title="Email ons" data-emailfirst="info" data-emaillast="globaltraining.nl" data-linktext="">info@globaltraining.nl</a>
                </p>
            </div>
            <div class="col-xs-7 col-md-4">
                <!-- spacer -->
            </div>
        </div>
    </div>
</div>
<div class="logo-container container">
    <div class="row">
        <div class="col-xs-12">
            <img class="logo img-responsive" src="../assets/img/gt/logo_gt-zonder.png" />
        </div>
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- show from 768px and up -->
        <div *ngIf="showTabs" class="navbar-collapse hide-sm-down">
            <ul class="nav navbar-nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a aria-controls="courseSelect" routerLinkActive="active" routerLink="courses" role="tab" queryParamsHandling="merge" (click)="selectTab()">
                        1 Datum &amp; locatie
                    </a>
                </li>
                <li role="presentation">
                    <a aria-controls="contactInfo" routerLinkActive="active" routerLink="students" queryParamsHandling="merge" [class.disabled]="enabledTabCount < 2" role="tab" (click)="selectTab()">
                        2 Persoonlijke gegevens
                    </a>
                </li>
                <li role="presentation">
                    <a aria-controls="paymentInfo" routerLinkActive="active" routerLink="payment" queryParamsHandling="merge" [class.disabled]="enabledTabCount < 3" role="tab" (click)="selectTab()">
                        3 Betalingsgegevens
                    </a>
                </li>
                <li role="presentation">
                    <a aria-controls="signupConfirmed" routerLinkActive="active" routerLink="confirm" queryParamsHandling="merge" [class.disabled]="enabledTabCount < 4" role="tab" (click)="selectTab()">
                        4 Controleer uw gegevens
                    </a>
                </li>
            </ul>
        </div>
        <div *ngIf="showTabs" class="navbar-collapse show-xs">
            <ul class="nav navbar-nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a aria-controls="courseSelect" routerLinkActive="active" routerLink="courses" role="tab" #rla1="routerLinkActive" queryParamsHandling="merge" (click)="selectTab()">{{'1' + (rla1.isActive ? ': Datum &amp; locatie' : '')}}</a>
                </li>
                <li role="presentation">
                    <a aria-controls="contactInfo" routerLinkActive="active" routerLink="students" #rla2="routerLinkActive" queryParamsHandling="merge" [class.disabled]="enabledTabCount < 2" role="tab" (click)="selectTab()">{{'2' + (rla2.isActive ? ': Persoonlijke gegevens' : '')}}</a>
                </li>
                <li role="presentation">
                    <a aria-controls="paymentInfo" routerLinkActive="active" routerLink="payment" #rla3="routerLinkActive" queryParamsHandling="merge" [class.disabled]="enabledTabCount < 3" role="tab" (click)="selectTab()">{{'3' + (rla3.isActive ? ': Betalingsgegevens' : '')}}</a>
                </li>
                <li role="presentation">
                    <a aria-controls="signupConfirmed" routerLinkActive="active" routerLink="confirm" #rla4="routerLinkActive" queryParamsHandling="merge" [class.disabled]="enabledTabCount < 4" role="tab" (click)="selectTab()">{{'4' + (rla4.isActive ? ': Controleer uw gegevens' : '')}}</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container course-selection">
    <div class="row">
        <!-- When hiding the sidebar give col-sm-12 to this container -->
        <div class="col-xs-12" id="main-content" [class.col-sm-8]="showBasket" [class.col-sm-12]="!showBasket">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="courseSelect">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="hidden-xs col-sm-1">
            <!-- Spacing -->
        </div>

        <!-- Hide sidebar on tab 4 & 5 -->
        <!-- When hiding the sidebar give col-sm-12 to the main content container (line 49)s -->
        <!-- add class: hide-basket-error to hide the basket on the error page -->
        <div *ngIf="showBasket" class="col-xs-12 col-sm-4 col-md-3 hide-basket-xs">
            <fo-basket></fo-basket>
        </div>
        <div class="testimonial col-xs-12 col-sm-4 col-md-3 hide-basket-xs">
            <div class="sidebar-container">
                <div id="circle">
                    <i class="fa fa-thumbs-up"></i>
                </div>
                <p>Al 20 jaar blije klanten</p>
            </div>
        </div>
    </div>
</div>