<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-tabs" role="tablist">
                <li role="presentation" routerLinkActive="active" routerLink="courses">
                    <a aria-controls="courseSelect" role="tab" (click)="selectTab('courseSelect')" [class.disabled]="enabledTabCount == 4">Stap 1: Inschrijven cursus</a>
                </li>
                <li role="presentation" routerLinkActive="active" routerLink="students">
                    <a aria-controls="contactInfo" role="tab" (click)="selectTab('contactInfo')" [class.disabled]="enabledTabCount < 2 || enabledTabCount == 4">Stap 2: Contactgegevens</a>
                </li>
                <li role="presentation" routerLinkActive="active" routerLink="payment">
                    <a aria-controls="paymentInfo" role="tab" (click)="selectTab('paymentInfo')" [class.disabled]="enabledTabCount < 3 || enabledTabCount == 4">Stap 3: Betaalgegevens</a>
                </li>
                <li role="presentation" routerLinkActive="active" routerLink="confirm">
                    <a aria-controls="signupConfirmed" role="tab" (click)="selectTab('signupConfirmed')" [class.disabled]="enabledTabCount < 4">Stap 4: Inschrijving voltooid</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container course-selection">
    <div class="row">
        <!-- When hiding the sidebar give col-sm-12 to this container -->
        <div class="col-xs-12 " id="main-content" [class.col-sm-8]="selectedTab != 'signupConfirmed' && selectedTab != 'signupFailed'" [class.col-sm-12]="selectedTab == 'signupConfirmed' || selectedTab == 'signupFailed'">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="courseSelect">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="hidden-xs col-sm-1">
            <!-- Spacing -->
        </div>

        <!-- Hide sidebar on tab 4 & 5 -->
        <!-- When hiding the sidebar give col-sm-12 to the main content container (line 49)s -->
        <div *ngIf="selectedTab != 'signupConfirmed' && selectedTab != 'signupFailed'" class="col-xs-12 col-sm-3">
            <fo-basket></fo-basket>
        </div>

    </div>
</div>