<h2>Uw inschrijving</h2>
<div class="col-xs-12 col-sm-6">
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 control-label">Hartelijk dank</label>
        <div class="col-xs-12 col-sm-9">
            <p>U ontvangt een e-mail ter bevestiging.</p>
            <br/>
            <p>Uw inschrijving is voltooid voor de cursus:</p>
            <p class="signupConfirmedTitle">{{course?.Name}}</p>
            <p class="signupConfirmedTitle">Startdatum</p>
            <p class="signupConfirmedContent">{{course?.Date | dutchDateFormat }}</p>
            <p class="signupConfirmedTitle">Regio</p>
            <p class="signupConfirmedContent">{{course?.Region}}</p>
            <p class="signupConfirmedTitle">Lesdagen</p>
            <ul class="signupConfirmedDayList">
                <li *ngFor="let courseDay of course?.CourseDays">{{courseDay.Date | dutchDateFormat }} <span>{{courseDay.TimeFrom}} - {{courseDay.TimeTill}}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-6">
    <p>De volgende deelnemers hebben zich ingeschreven:</p>
    <br/>
    <ul class="participants-list" *ngFor="let student of order?.Students; let index = index">
        <li>Deelnemer {{index + 1}}</li>
        <li>{{student.Initials}} {{student.Surname}}</li>
        <li>{{student.Address}} {{student.AddressNumber}}</li>
        <li>{{student.PostalCode}} {{student.City}}</li>
        <li>{{student.Email}}</li>
    </ul>
</div>