<div class="row">
    <div class="col-xs-12 nopad-vert" id="error-title">
        <h1>Bedankt voor uw inschrijving</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-7" id="error-page">
        <div class="panel-group">
            <h4>Uw inschrijving is voltooid.</h4>
            <p>Hartelijk dank voor uw inschrijving, u ontvangt een e-mail ter bevestiging.
            </p>
            <p>Klik <a href="{{returnUrl}}">hier</a> om terug te keren.</p>
        </div>
    </div>
</div>