<div class="row">
        <div class="col-xs-12 nopad-vert" id="error-title">
            <h1>Bedankt voor uw inschrijving</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-7" id="error-page">
            <div class="panel-group">
                <p>Indien deze cursus niet aan het minimale aantal deelnemers voldoet, zal deze geen doorgang vinden.</p>
                <p>U wordt dan tijdig op de hoogte gebracht.</p>
                <br>
                <p>Hartelijk dank voor uw inschrijving, u ontvangt een e-mail ter bevestiging.
                </p>
                <p>Klik <a href="http://www.evean.nl/cursussen">hier</a> om terug te gaan.</p>
            </div>
        </div>
    </div>