<div class="row">
    <div class="col-xs-12 nopad-vert" id="error-title">
        <h1>Bedankt voor uw vertrouwen in Global Training.</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-7" id="error-page">
        <div class="panel-group">
            <p>U ontvangt binnen enkele ogenblikken de bevestigingsmail. Klik op de onderstaande knop om terug te keren naar de homepage.
            </p>
            <a class="btn btn-outline" href="{{returnUrl}}">Terug</a>
        </div>
    </div>
</div>