<h2 class="no-margin-bottom">Contactgegevens</h2>
<h4 class="subtitle">Met wie mogen wij contact opnemen?</h4>
<form class="form-horizontal" data-toggle="validator" (ngSubmit)="saveInfo(contactForm.valid)" #contactForm="ngForm">
    <div class="form-group" [appValidationError]="optionGender.errors && (optionGender.dirty || optionGender.touched || contactForm.submitted)">
        <label class="col-xs-12 col-sm-3 col-md-3 control-label">Aanhef *</label>
        <div class="col-xs-12 col-md-6 col-sm-8 col-md-7">
            <label class="radio-inline">
                <input type="radio" name="optionGender" value="V" [(ngModel)]="order.ContactPerson.Gender" required
                       #optionGender="ngModel"> Mevrouw
            </label>
            <label class="radio-inline">
                <input type="radio" name="optionGender" value="M" [(ngModel)]="order.ContactPerson.Gender" required
                       #optionGender="ngModel"> De heer
            </label>
            <label *ngIf="optionGender.errors && (optionGender.dirty || optionGender.touched || contactForm.submitted)" class="control-label">Gelieve een aanhef te selecteren.</label>
        </div>
    </div>
    <div class="form-group" [appValidationError]="initials.errors && (initials.dirty || initials.touched || contactForm.submitted)">
        <label for="initials" class="col-xs-12 col-sm-3 control-label">Voorletters *</label>
        <div class="col-xs-12 col-md-6 col-sm-8">
            <input type="text" class="form-control" id="initials" name="initials" [(ngModel)]="order.ContactPerson.Initials" required #initials="ngModel" UpperCaseText>
            <span *ngIf="initials.errors && (initials.dirty || initials.touched || contactForm.submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <label *ngIf="initials.errors && (initials.dirty || initials.touched || contactForm.submitted)" class="control-label">Voorletters zijn verpllicht.</label>
        </div>
    </div>

    <div class="form-group">
        <label for="firstName" class="col-xs-12 col-sm-3 control-label optional-label">Voornaam</label>
        <div class="col-xs-12 col-md-6 col-sm-8">
            <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="order.ContactPerson.FirstName">
        </div>
    </div>

    <div class="form-group">
        <label for="middleName" class="col-xs-12 col-sm-3 control-label optional-label">Tussenvoegsel</label>
        <div class="col-xs-12 col-md-6 col-sm-8">
            <input type="text" class="form-control" id="middleName" name="middleName" [(ngModel)]="order.ContactPerson.MiddleName">
        </div>
    </div>

    <div class="form-group" [appValidationError]="lastName.errors && (lastName.dirty || lastName.touched || contactForm.submitted)">
        <label for="lastName" class="col-xs-12 col-sm-3 control-label optional-label">Achternaam *</label>
        <div class="col-xs-12 col-md-6 col-sm-8">
            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="order.ContactPerson.Surname" required #lastName="ngModel">
            <span *ngIf="lastName.errors && (lastName.dirty || lastName.touched || contactForm.submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <label *ngIf="lastName.errors && (lastName.dirty || lastName.touched || contactForm.submitted)" class="control-label">Achternaam is verpllicht.</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 control-label">Type inschrijving</label>
        <div class="col-xs-12 col-md-6 col-sm-8 col-md-7">
            <label class="radio-inline">
                <input type="radio" name="optionType" value="Private" [(ngModel)]="order.OrderType"> Particulier
            </label>
            <label class="radio-inline">
                <input type="radio" name="optionType" value="Company" [(ngModel)]="order.OrderType"> Zakelijk
            </label>
        </div>
    </div>

    <!-- Zakelijke inschrijving -->

    <div *ngIf="order.OrderType == 'Company'" class="form-group" [appValidationError]="companyName.errors && (companyName.dirty || companyName.touched || contactForm.submitted)">
        <label for="business" class="col-xs-12 col-sm-3 control-label optional-label">Bedrijf *</label>
        <div class="col-xs-12 col-md-6 col-sm-8">
            <input type="text" class="form-control" id="business" name="companyName" [(ngModel)]="order.Company.Name" required #companyName="ngModel">
            <span *ngIf="companyName.errors && (companyName.dirty || companyName.touched || contactForm.submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <label *ngIf="companyName.errors && (companyName.dirty || companyName.touched || contactForm.submitted)" class="control-label">Bedrijfsnaam is verpllicht.</label>
        </div>
    </div>

    <!-- -->

    <div class="form-group">
        <label for="postalcodeBusiness" class="col-xs-12 col-sm-3 control-label optional-label">Postcode</label>
        <div class="col-md-6 col-sm-8">
            <div class="form-group row">
                <div class="col-sm-5 col-xs-12 margin-bottom-15">
                    <input id="postalcodeBusiness" type="text" class="form-control" name="postalCode" [(ngModel)]="order.ContactPerson.PostalCode" PostalCodeFormat (blur)="getAddress()">
                </div>
                <label for="numberBusiness" class="col-xs-12 col-sm-3 control-label optional-label margin-bottom-15">Nummer</label>
                <div class="col-sm-4 col-xs-12">
                    <input id="numberBusiness" type="text" class="form-control" name="number" [(ngModel)]="order.ContactPerson.AddressNumber" (blur)="getAddress()">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 col-md-6 col-sm-8">
        <label for="addressBusiness" class="col-xs-12 col-sm-3 control-label optional-label">Straat</label>
            <input type="text" class="form-control" id="addressBusiness" name="address" [(ngModel)]="order.ContactPerson.Address" #addressBusiness="ngModel">
        </div>
    </div>

    <div class="form-group">
        <label for="placeBusiness" class="col-xs-12 col-sm-3 control-label optional-label">Plaats</label>
        <div class="col-xs-12 col-md-6 col-sm-8">
            <input type="text" class="form-control" id="placeBusiness" name="place" [(ngModel)]="order.ContactPerson.City" #placeBusiness="ngModel">
        </div>
    </div>

    <div class="form-group">
        <label for="countryBusiness" class="col-xs-12 col-sm-3 control-label optional-label">Land</label>
        <div class="col-xs-12 col-md-6 col-sm-8">
            <select class="form-control" id="countryBusiness" [(ngModel)]="order.ContactPerson.CountryId" name="countrySelection">
                <option *ngFor="let c of countries" [ngValue]="c.Id">{{c.Name}}</option>
            </select>
        </div>
    </div>

    <div class="form-group" [appValidationError]="emailBusiness.errors && (emailBusiness.dirty || emailBusiness.touched || contactForm.submitted)">
        <label for="emailBusiness" class="col-xs-12 col-sm-3 control-label optional-label">E-mail *</label>
        <div class="col-xs-12 col-md-6 col-sm-8">
            <input type="text" class="form-control" id="emailBusiness" name="email" [(ngModel)]="order.ContactPerson.Email" #emailBusiness="ngModel" required pattern="[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?"
            />
            <span *ngIf="emailBusiness.errors && (emailBusiness.dirty || emailBusiness.touched || contactForm.submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <label *ngIf="emailBusiness.hasError('required') && (emailBusiness.dirty || emailBusiness.touched || contactForm.submitted)" class="control-label">E-mail is verpllicht.</label>
            <label *ngIf="emailBusiness.hasError('pattern') && (emailBusiness.dirty || emailBusiness.touched || contactForm.submitted)" class="control-label">Geef een geldig e-mailadres op.</label>
        </div>
    </div>

    <div class="form-group" [appValidationError]="phoneBusiness.errors && (phoneBusiness.dirty || phoneBusiness.touched || contactForm.submitted)">
        <label for="phoneBusiness" class="col-xs-12 col-sm-3 control-label optional-label">Telefoon</label>
        <div class="col-xs-12 col-md-6 col-sm-8">
            <input type="text" class="form-control" id="phoneBusiness" name="phone" [(ngModel)]="order.ContactPerson.Phone" #phoneBusiness="ngModel" pattern="([\s]|[+]|[()]|[-]|[0-9]){0,15}">
            <span *ngIf="phoneBusiness.errors && (phoneBusiness.dirty || phoneBusiness.touched || contactForm.submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <label *ngIf="phoneBusiness.errors && (phoneBusiness.dirty || phoneBusiness.touched || contactForm.submitted)" class="control-label">Geen geldig telefoonnummer opgegeven.</label>
        </div>
    </div>

    <hr class="divider" />

    <h2>Deelnemers</h2>

    <div class="form-group" [appValidationError]="!order.FirstStudentIsContact && !addMultipleStudents && contactForm.submitted">
        <label class="col-xs-12 col-sm-3 control-label"></label>
        <div class="col-xs-12 col-sm-6">
            <label *ngIf="!order.FirstStudentIsContact && !addMultipleStudents && contactForm.submitted"
                   class="control-label">U dient tenminste één van onderstaande opties te kiezen.</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-12 col-sm-3 control-label">Bent u zelf deelnemer?</label>
        <div class="col-xs-12 col-md-6 col-sm-8">
            <label class="checkbox-inline">
                <input type="checkbox" name="participantInfo" [(ngModel)]="order.FirstStudentIsContact"
                       (change)="toggleSelf()"> Ja, gebruik hiervoor de contactgegevens
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 control-label">Schrijft u in voor een ander?</label>
        <div class="col-xs-12 col-md-6 col-sm-8">
            <label class="checkbox-inline">
                <input type="checkbox" name="extraParticipant" [(ngModel)]="addMultipleStudents"
                       (change)="toggleStudents()"> Extra deelnemer(s) toevoegen
            </label>
        </div>
    </div>

    <div *ngIf="addMultipleStudents" class="form-group">
        <label class="col-xs-12 col-sm-3 control-label">Andere deelnemers</label>
    </div>
    <div *ngFor="let s of order.Students; let index = index" class="participant-block">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 control-label participant-title">Deelnemer {{index +(order.FirstStudentIsContact ? 2 : 1)}}</label>
        </div>

        <div class="form-group" [appValidationError]="studentGender.errors && (studentGender.dirty || studentGender.touched || contactForm.submitted)">
            <label class="col-xs-12 col-sm-3 control-label">Aanhef *</label>
            <div class="col-xs-12 col-md-6 col-sm-8 col-md-7">
                <label class="radio-inline">
                    <input type="radio" name="optionGender_{{index}}" value="V" [(ngModel)]="s.Gender" required
                           #studentGender="ngModel"> Mevrouw
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionGender_{{index}}" value="M" [(ngModel)]="s.Gender" required
                           #studentGender="ngModel"> De heer
                </label>
                <label *ngIf="studentGender.errors && (studentGender.dirty || studentGender.touched || contactForm.submitted)" class="control-label">Gelieve een aanhef te selecteren.</label>
            </div>
        </div>
        <div class="form-group" [appValidationError]="studentInitials.errors && (studentInitials.dirty || studentInitials.touched || contactForm.submitted)">
            <label for="initialsParticipant" class="col-xs-12 col-sm-3 control-label">Voorletters *</label>
            <div class="col-xs-12 col-md-6 col-sm-8">
                <input type="text" class="form-control" id="initialsParticipant" name="initials_{{index}}" [(ngModel)]="s.Initials" required #studentInitials="ngModel" UpperCaseText>
                <span *ngIf="studentInitials.errors && (studentInitials.dirty || studentInitials.touched || contactForm.submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <label *ngIf="studentInitials.errors && (studentInitials.dirty || studentInitials.touched || contactForm.submitted)" class="control-label">Voorletters zijn verpllicht.</label>
            </div>
        </div>

        <div class="form-group">
            <label for="firstNameParticipant" class="col-xs-12 col-sm-3 control-label optional-label">Voornaam</label>
            <div class="col-xs-12 col-md-6 col-sm-8">
                <input type="text" class="form-control" id="firstNameParticipant" name="firstName_{{index}}" [(ngModel)]="s.FirstName">
            </div>
        </div>

        <div class="form-group">
            <label for="middleNameParticipant" class="col-xs-12 col-sm-3 control-label optional-label">Tussenvoegsel</label>
            <div class="col-xs-12 col-md-6 col-sm-8">
                <input type="text" class="form-control" id="middleNameParticipant" name="middleName_{{index}}" [(ngModel)]="s.MiddleName">
            </div>
        </div>

        <div class="form-group" [appValidationError]="studentLastName.errors && (studentLastName.dirty || studentLastName.touched || contactForm.submitted)">
            <label for="lastNameParticipant" class="col-xs-12 col-sm-3 control-label">Achternaam *</label>
            <div class="col-xs-12 col-md-6 col-sm-8">
                <input type="text" class="form-control" id="lastNameParticipant" name="lastName_{{index}}" [(ngModel)]="s.Surname" required #studentLastName="ngModel">
                <span *ngIf="studentLastName.errors && (studentLastName.dirty || studentLastName.touched || contactForm.submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <label *ngIf="studentLastName.errors && (studentLastName.dirty || studentLastName.touched || contactForm.submitted)" class="control-label">Achternaam is verpllicht.</label>
            </div>
        </div>

        <div class="form-group">
            <label for="privatePostalcodeParticipant" class="col-xs-12 col-sm-3 control-label optional-label">Postcode</label>
            <div class="col-md-6 col-sm-8">
                <div class="form-group row">
                    <div class="col-sm-5 col-xs-12 margin-bottom-15">
                        <input id="privatePostalcodeParticipant" type="text" class="form-control" name="postalCode_{{index}}" [(ngModel)]="s.PostalCode" PostalCodeFormat (blur)="getStudentAddress(s)">
                    </div>
                    <label for="privateNumberParticipant" class="col-xs-12 col-sm-3 control-label optional-label margin-bottom-15">Nummer</label>
                    <div class="col-sm-4 col-xs-12">
                        <input id="privateNumberParticipant" type="text" class="form-control" name="addressNumber_{{index}}" [(ngModel)]="s.AddressNumber" (blur)="getStudentAddress(s)">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="privateAddressParticipant" class="col-xs-12 col-sm-3 control-label optional-label">Straat</label>
            <div class="col-xs-12 col-md-6 col-sm-8">
                <input type="text" class="form-control" id="privateAddressParticipant" name="address_{{index}}" [(ngModel)]="s.Address">
            </div>
        </div>

        <div class="form-group">
            <label for="privatePlaceParticipant" class="col-xs-12 col-sm-3 control-label optional-label">Plaats</label>
            <div class="col-xs-12 col-md-6 col-sm-8">
                <input type="text" class="form-control" id="privatePlaceParticipant" name="place_{{index}}" [(ngModel)]="s.City">
            </div>
        </div>

        <div class="form-group">
            <label for="privateCountryParticipant" class="col-xs-12 col-sm-3 control-label optional-label">Land</label>
            <div class="col-xs-12 col-md-6 col-sm-8">
                <select class="form-control" id="privateCountryParticipant" name="country_{{index}}" [(ngModel)]="s.CountryId">
                    <option *ngFor="let c of countries" [ngValue]="c.Id">{{c.Name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group" [appValidationError]="phoneNumberParticipant.errors && (phoneNumberParticipant.dirty || phoneNumberParticipant.touched || contactForm.submitted)">
            <label for="phoneNumberParticipant" class="col-xs-12 col-sm-3 control-label optional-label">Telefoonnummer</label>
            <div class="col-xs-12 col-md-6 col-sm-8">
                <input type="text" class="form-control" id="phoneNumberParticipant" name="phone_{{index}}" [(ngModel)]="s.Phone" pattern="([\s]|[+]|[()]|[-]|[0-9]){0,15}" #phoneNumberParticipant="ngModel">
                <span *ngIf="phoneNumberParticipant.errors && (phoneNumberParticipant.dirty || phoneNumberParticipant.touched || contactForm.submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <label *ngIf="phoneNumberParticipant.errors && (phoneNumberParticipant.dirty || phoneNumberParticipant.touched || contactForm.submitted)" class="control-label">Geen geldig telefoonnummer opgegeven.</label>
            </div>
        </div>
        <div class="form-group" [appValidationError]="studentEmail.errors && (studentEmail.dirty || studentEmail.touched || contactForm.submitted)">
            <label for="emailParticipant" class="col-xs-12 col-sm-3 control-label optional-label">E-mail adres *</label>
            <div class="col-xs-12 col-md-6 col-sm-8 ">
                <input type="email" class="form-control" id="emailParticipant" name="email_{{index}}" [(ngModel)]="s.Email" required pattern="[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?"
                    #studentEmail="ngModel">
                <span *ngIf="studentEmail.errors && (studentEmail.dirty || studentEmail.touched || contactForm.submitted)" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <label *ngIf="studentEmail.hasError('required') && (studentEmail.dirty || studentEmail.touched || contactForm.submitted)" class="control-label">E-mail is verpllicht.</label>
                <label *ngIf="studentEmail.hasError('pattern') && (studentEmail.dirty || studentEmail.touched || contactForm.submitted)" class="control-label">Geef een geldig e-mailadres op.</label>
            </div>
        </div>
        <div class="form-group participant-control">
            <div class="col-xs-12 col-sm-11 col-md-9 text-right">
                <a class="btn btn-link delete-participant" (click)="removeStudent(s)">Verwijder deelnemer</a>
                <br/>
                <a class="btn btn-link" (click)="addStudent()">Voeg nieuwe deelnemer toe</a>
            </div>
        </div>
    </div>

    <hr class="divider" />

    <h2>Vragen of opmerkingen</h2>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 control-label optional optional-label" for="questions"></label>
        <div class="col-xs-12 col-md-6 col-sm-8">
            <textarea class="form-control" id="questions" rows="10" [(ngModel)]="order.Remarks" name="remarks"></textarea>
        </div>
    </div>
    <span class="btn-spacer"></span>
    <button type="button" (click)="previousTab()" class="btn btn-link pull-left" aria-controls="courseSelect" role="tab">Vorige
    </button>
    <button type="submit" class="btn btn-default pull-right" aria-controls="paymentInfo" role="tab">Volgende</button>
</form>